<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=stylesheet href=//cdn.jsdelivr.net/g/normalize@3>
    <link rel=stylesheet href=/layout.css>
    <link rel="shortcut icon" href=/favicon.png>
    <title>Submission for diverse.media</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
